<div class="container_16">
  <h2>Edit Article</h2>
  <%= form_for @article, :url => admin_article_path(@article), :method => 'PUT', :html => {:multipart => true} do |f| %>
    <table>
      <tr>
        <td width="150"><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :category %></td>
        <td><%= f.select :category, @categories %></td>
      </tr>
      <tr>
        <td><%= f.label :text %></td>
        <td><%= f.text_area :text %></td>
      </tr>
      <tr>
        <td><%= f.label :image %></td>
        <td>
          <% if @article.image? %>
            <img src="<%= @article.image.url(:thumb) %>"/>
          <% end %>
          <%= f.file_field :image %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :image_position %></td>
        <td><%= f.select :image_position, Article::IMAGE_POSITIONS %></td>
      </tr>
    </table>
    <br/>
    <%= f.submit 'Update Article' %>
  <% end %>
  <div class="article-edit-commands" style="padding-top: 30px">
    <%= link_to "View Article", "/articles/#{@article.slug}" %>
  </div>
</div>
