<div class="container_16">
  <h2>Edit Article</h2>
  <%= form_for @article, :url => admin_article_path(@article), :method => 'PUT', :html => {:multipart => true} do |f| %>
    <table>
      <tr>
        <td width="150"><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :category %></td>
        <td><%= f.select :category, @categories %></td>
      </tr>
      <tr>
        <td><%= f.label :text %></td>
        <td><%= f.text_area :text, :size => '120x30' %></td>
      </tr>
      <tr>
        <td><%= f.label 'Thumbnail Image' %></td>
        <td>
          <% if @article.image? %>
            <img src="<%= @article.image.url :thumb %>"/>
          <% end %>
          <%= f.file_field :image %>
        </td>
      </tr>
    </table>
    <script>
      (function() {
        $("textarea").tinymce({
          theme: 'advanced',
          theme_advanced_toolbar_location: "top",
          theme_advanced_toolbar_align: "left",
          theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,fontselect,formatselect,|,image,link,unlink,|,bullist,numlist,indent,outdent,|,charmap,|,undo,redo,|,cleanup,removeformat,code",
          theme_advanced_buttons2 : "",
          theme_advanced_buttons3 : ""
        });
      })();
    </script>
    <br/>
    <%= f.submit 'Update Article' %>
  <% end %>
  <div class="article-edit-commands" style="padding-top: 30px">
    <%= link_to "View Article", "/articles/#{@article.slug}" %>
  </div>
</div>
