<div class="container_16">
  <h2>New Article</h2>
  <%= form_for @article, :url => admin_articles_path, :method => 'POST', :html => {:multipart => true} do |f| %>
    <table>
      <tr>
        <td width="150"><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :category %></td>
        <td><%= f.select :category, @categories %></td>
      </tr>
      <tr>
        <td><%= f.label :text %></td>
        <td><%= f.text_area :text %></td>
      </tr>
      <tr>
        <td><%= f.label :image %></td>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <td><%= f.label :image_position %></td>
        <td><%= f.select :image_position, Article::IMAGE_POSITIONS %></td>
      </tr>
    </table>
    <br/>
    <%= f.submit 'Create Article' %>
  <% end %>
</div>
