<h2>New Article</h2>
<%= form_for @article, :url => admin_articles_path, :method => 'POST', :html => {:multipart => true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br/>
  <%= f.label :category %><br/>
  <%= f.select :category, @categories %><br/>
  <%= f.label :text %>
  <%= f.text_area :text %><br/>
  <%= f.label :image %>
  <%= f.file_field :image %><br/>
  <%= f.label :image_position %>
  <%= f.select :image_position, Article::IMAGE_POSITIONS %>
  <%= f.submit :submit %>
<% end %>
