<% title "#{@article.title} | The Sports Post" %>
<section id="article-section">
  <div class="container_16 white-background">
    <div class="grid_16">
      <div class="article-container">
        <div class="article-header">
          <h2 id="article-title"><%= @article.title %></h2>
          <div class="article-author"><%= @article.user %></div>
          <div class="article-date"><%= @article.date_published %></div>
        </div>
        <div class="article-body">
          <p><%= format_article(@article.text).html_safe %></p>
        </div>
        <div class="article-related-articles">
          <% if @article.related_articles.length > 0 %>
            <h3>Related Articles</h3>
            <ul>
              <% @article.related_articles.each do |article| %>
                <li><%= link_to article.title, "/articles/#{article.slug}" %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="article-more-by-writer">
          <% if @article.same_writer_articles.length > 0 %>
            <h3>More Articles By This Writer</h3>
            <ul>
              <% @article.same_writer_articles.each do |article| %>
                <li><%= link_to article.title, "/articles/#{article.slug}" %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div style="padding-bottom: 10px">
          <div id="disqus_thread"></div>
          <% if Rails.env.production? %>
            <script type="text/javascript">
              var disqus_shortname = 'thesportspost';
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>
