<section id="article-section">
  <div class="container_16">
    <div class="article-container grid_12">
      <div class="article-title">
        <h2><%= @article.title %></h2>
        <div>By <%= @article.user %></div>
        <div>On <%= @article.date_published %></div>
      </div>
      <% if @article.image? %>
        <div class="image-position-<%= @article.image_position %>"><img src="<%= @article.image.url(:big) %>"/></div>
      <% end %>
      <div class="article-body">
        <p><%= (sanitize markdown @article.text).html_safe %></p>
      </div>
    </div>
  </div>
</section>
