<div class="article-container">
  <div class="article-title">
    <h2><%= @article.title %></h2>
    <p>by <%= @article.user %></p>
  </div>
  <% if @article.image? %>
    <div class="image-position-<%= @article.image_position %>"><img src="<%= @article.image.url(:big) %>"/></div>
  <% end %>
  <div class="article-body">
    <p><%= (sanitize markdown @article.text).html_safe %></p>
  </div>
</div>
