<div id="slideshow_container" class="sevencol">
	<div class="ribbon"></div>
	<div id="slider" class="nivoSlider">
		<!--
		<img src="images/toystory.jpg" alt="" />
		<a href="http://dev7studios.com"><img src="images/up.jpg" alt="" title="This is an example of a caption" /></a>-->
		<% slideshow.each_with_index do |slide,i| %>
		<!--<img src="<%= slide.image.url(:big) %>" rel="<%=slide.image.url(:thumb)%>" title="#caption_<%= i %>" /> -->
      <img src="http://dummyimage.com/646x320/000000/fff.png" rel="<%=slide.image.url(:thumb)%>" title="#caption_<%= i %>"/>
		<% end %>

	</div>
	<% slideshow.each_with_index do |slide,i| %>
	<div id="caption_<%= i %>" class="nivo-html-caption">
		<div class="slideshow-title"><%= slide.title %></div>
		<div class="slideshow-subtitle"><%= slide.subtitle %></div>
	</div>
	<% end %>


</div>
<script type="text/javascript">
$(window).load(function() {
	$('#slider').nivoSlider({
    animSpeed: 100,
    pauseTime: 3000,
		effect: 'random',
		controlNavThumbs: true, // Use thumbnails for Control Nav
		controlNavThumbsFromRel: true,// Use image rel for thumbs
		prevText: '', // Prev directionNav text
		nextText: '' // Next directionNav text
	});
});
</script>

<!--
<% if @subcategory %>
  <h2 id="subcategory_header"><%= @category.full_name %> - <%= @subcategory.name %></h2>
<% end %>

    <% if false %>
      <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
    <% end %>
    <div id="slides">
      <div class="slides_container">
        <% slideshow.each do |slide| %>
          <div class="slide">
            <a href="<%= "/articles/#{slide.slug}" %>">
              <img src="<%= slide.image.url(:big) %>" />
              <div class="caption">
                <div class="slideshow-title"><%= slide.title %></div>
                <div class="slideshow-subtitle"><%= slide.subtitle %></div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <ul class="pagination">
        <% slideshow.each_with_index do |slide,i| %>
          <li <% if i <= 5 %>class="padded-mini-image"<% end %>>
            <a href="#<%= i %>">
              <div class="current-slide-indicator"></div>
              <img src="<%= slide.image.url(:thumb) %>" width="121"/>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <script>
  (function() {
    $("#slideshow").slides({
      preload: true,
      preloadImage: "/assets/loading.gif",
      play: 5000,
      pause: 2500,
      hoverPause: true,
      generatePagination: false,
      animationStart: function(current) {
        $(".caption").animate({
          bottom: -60
        },100);
      },
      animationComplete: function(current) {
        $(".caption").animate({
          bottom: 0
        },200);
      },
      slidesLoaded: function() {
        $(".caption").animate({
          bottom: 0
        },200);
      }
    });
  })();
  </script>
</div>
-->
