<section id="slideshow-headlines-section">
  <div id="slideshow-and-headlines-container" class="container_16 white-background">
    <div id="slideshow-container" class="grid_11">
      <div id="slideshow">
        <% if false %>
          <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
        <% end %>
        <div id="slides">
          <div class="slides_container">
            <% slideshow.each do |slide| %>
              <div class="slide">
                <a href="<%= "/articles/#{slide.slug}" %>">
                  <img src="<%= slide.image.url(:big) %>" width="645"/>
                  <div class="caption"><%= slide.title %></div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <script>
        (function() {
          $("#slideshow").slides({
            preload: true,
            play: 5000,
            pause: 2500,
            hoverPause: true,
            animationStart: function(current) {
              $(".caption").animate({
                bottom: -35
              },100);
            },
            animationComplete: function(current) {
              $(".caption").animate({
                bottom: 0
              },200);
            },
            slidesLoaded: function() {
              $(".caption").animate({
                bottom: 0
              },200);
            }
          });
        })();
      </script>
    </div>
    <div id="headlines-container">
      <%= render :partial => 'partials/headlines', :locals => { :articles => headlines } %>
    </div>
    <div class="clear"></div>
  </div>
</section>
