<div id="slideshow_container" class="sevencol">
<% if @subcategory %>
  <h2 id="subcategory_header"><%= @category.full_name %> - <%= @subcategory.name %></h2>
<% end %>
  <div id="slideshow" class="white_bg">
    <% if false %>
      <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
    <% end %>
    <div id="slides">
      <div class="slides_container">
        <% slideshow.each do |slide| %>
          <div class="slide">
            <a href="<%= "/articles/#{slide.slug}" %>">
              <img src="<%= slide.image.url(:big) %>" width="636"/>
              <div class="caption">
                <div class="slideshow-title"><%= slide.title %></div>
                <div class="slideshow-subtitle"><%= slide.subtitle %></div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <ul class="pagination">
        <% slideshow.each_with_index do |slide,i| %>
          <li <% if i <= 5 %>class="padded-mini-image"<% end %>>
            <a href="#<%= i %>">
              <div class="current-slide-indicator"></div>
              <img src="<%= slide.image.url(:thumb) %>" width="121"/>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <script>
  (function() {
    $("#slideshow").slides({
      preload: true,
      preloadImage: "/assets/loading.gif",
      play: 5000,
      pause: 2500,
      hoverPause: true,
      generatePagination: false,
      animationStart: function(current) {
        $(".caption").animate({
          bottom: -60
        },100);
      },
      animationComplete: function(current) {
        $(".caption").animate({
          bottom: 0
        },200);
      },
      slidesLoaded: function() {
        $(".caption").animate({
          bottom: 0
        },200);
      }
    });
  })();
  </script>
</div>
