<% title "#{@category.full_name} | The Sports Post" %>
<div id="upper_content">
  <%= render :partial => 'partials/slideshow', :locals => {
    :slideshow => @slideshow, :headlines => @headlines
  } %>

  <div id="headlines" class="right_content">
    <h2>Headlines</h2>
    <div id="headlines_content" class="white_bg">
      <ul>
         <% @headlines.each do |headline| %>
          <li>
            <span>
              <%= link_to (truncate headline.title, :length => 50), "/articles/#{headline.slug}" %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="clear"></div>

<div id="lower_content">
  <%= render :partial => 'partials/popular_posts', :locals =>{
      :popular_posts => @popular_articles
      } %>
  <%= render :partial => 'partials/recent_articles_category', :locals =>{
      :recent_articles => @articles[0..3]
    } %>
  
</div>
<div class="clear"></div>

<div id="lower_content">
  <% if @popular_articles.size > 6 %>
    <%= render :partial => 'partials/more_popular_posts', :locals =>{
      :popular_posts => @popular_articles[6..8]
    } %>
    <div id="lower-right-ad" class="right_content">
      <img src="http://dummyimage.com/300x400/000222/fff"/>
    </div>
  <% end %>
  
  <div class="clear"></div>


