<% title "#{@category.full_name} | The Sports Post" %>
<div class="row white_bg" id="upper_content">
  <%= render :partial => 'partials/slideshow', :locals => {
    :slideshow => @slideshow, :headlines => @headlines
  } %>
  <div id="headlines" class="fivecol last">
     <%= render :partial => 'partials/recent_articles', :locals =>{
      :recent_articles => @articles[5..9]
    } %>
  </div>
</div>
<div class="row linearBg2" id="middle_content">
  <%= render :partial => 'partials/top_post', :locals =>{
    :top_post => @top_post
  } %>

  <div class="threecol" id="headlines" >
    <h2>Headlines</h2>
    <div id="headlines_content">
      <ul>
         <% @headlines[0..8].each do |headline| %>
          <li>
            <span>
              <%= link_to (truncate headline.title, :length => 50), "/articles/#{headline.slug}" %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fourcol last">
    <img src="http://dummyimage.com/300x250/000222/fff"/>
  </div>
</div>
<div class="row black_bg" id="lower_content">
  <%= render :partial => 'partials/popular_posts', :locals =>{
      :popular_posts => @popular_articles
      } %>  
</div>

<div class="row linearBg2 " id="lowest_content" style="margin-top:10px;">
  <%= render :partial => 'partials/more_popular_posts', :locals =>{
    :popular_posts => @popular_articles[0..3]
  } %>
    <%= render :partial => 'partials/observation_deck', :locals =>{
    :observation_deck => @observation_deck
  } %>

  <div id="lower-right-ad" class="twocol last">
    <img src="http://dummyimage.com/180x600/000222/fff"/>
  </div>
</div>
<div class="row">
  <div class="twelevecol" id="lower_separator">
            <div class="upward_wedge"></div>
          </div>
</div>


