<section id="slideshow-headlines-section">
  <div id="slideshow-and-headlines-container" class="container_16">
    <div id="slideshow-container" class="grid_9">
      <div id="slideshow">
        <% if false %>
          <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
        <% end %>
        <div id="slides">
          <div class="slides_container">
            <% @slideshow.each do |slide| %>
              <div class="slide">
                <a href="<%= "/articles/#{slide.slug}" %>">
                  <img src="<%= slide.image.url(:big) %>" width="500"/>
                  <div class="caption"><%= slide.title %></div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <script>
        (function() {
          $("#slideshow").slides({
            preload: true,
            play: 5000,
            pause: 2500,
            hoverPause: true,
            animationStart: function(current) {
              $(".caption").animate({
                bottom: -35
              },100);
            },
            animationComplete: function(current) {
              $(".caption").animate({
                bottom: 0
              },200);
            },
            slidesLoaded: function() {
              $(".caption").animate({
                bottom: 0
              },200);
            }
          });
        })();
      </script>
    </div>
    <div id="headlines-container" class="grid_5">
      <div id="headlines-header">
        <h3>Headlines</h3>
      </div>
      <div id="headlines-list">
        <%= render :partial => 'partials/post_type_1', :locals => { :articles => @headlines } %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section id="custom-page-section-section">
  <div class="container_16" style="padding-bottom: 20px">
    <div id="custom-page-section">
      <% @page_sections.each do |section| %>
        <h3><%= section.name %></h3>
        <%= render :partial => 'partials/post_type_1', :locals => { :articles => section.articles } %>
      <% end %>
    </div>
  </div>
</section>
<section id="popular-posts-section">
  <div class="container_16" style="padding-bottom: 20px">
    <div id="popular-posts">
      <div class="grid_12">
        <h3>Popular Posts</h3>
      </div>
      <div class="clear"></div>
      <% @posts.each_with_index do |article,i| %>
        <% if i>0 and i%3 == 0 %>
          <div class="clear"></div>
        <% end %>
        <div class="popular-post grid_4">
          <a href="/articles/<%= article.slug %>">
            <div class="popular-post-image-thumbnail">
              <% if article.image? %><img src="<%= article.image.url(:big) %>" width="200"/><% end %>
            </div>
            <div class="popular-post-title"><%= article.title %></div>
            <div class="popular-post-description"><%= strip_tags(article.text)[0..100].strip.html_safe %>...</div>
          </a>
          <div class="clear"></div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section id="discussion-board-section">
  <div class="container_16">
    <h3>Discussion Board</h3>
  </div>
</section>
