<section id="slideshow-headlines-section">
  <div id="slideshow-and-headlines-container" class="container_16 white-background">
    <div id="slideshow-container" class="grid_11">
      <div id="slideshow">
        <% if false %>
          <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
        <% end %>
        <div id="slides">
          <div class="slides_container">
            <% @slideshow.each do |slide| %>
              <div class="slide">
                <a href="<%= "/articles/#{slide.slug}" %>">
                  <img src="<%= slide.image.url(:big) %>" width="645"/>
                  <div class="caption"><%= slide.title %></div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <script>
        (function() {
          $("#slideshow").slides({
            preload: true,
            play: 5000,
            pause: 2500,
            hoverPause: true,
            animationStart: function(current) {
              $(".caption").animate({
                bottom: -35
              },100);
            },
            animationComplete: function(current) {
              $(".caption").animate({
                bottom: 0
              },200);
            },
            slidesLoaded: function() {
              $(".caption").animate({
                bottom: 0
              },200);
            }
          });
        })();
      </script>
    </div>
    <div id="headlines-container">
      <%= render :partial => 'partials/post_type_1', :locals => { :title => 'Headlines', :articles => @headlines } %>
    </div>
    <div class="clear"></div>
  </div>
</section>
<% if false %>
  <section id="custom-page-section-section">
    <div class="container_16 white-background">
      <div id="custom-page-section-1">
        <% @page_sections.each do |section| %>
          <%= render :partial => 'partials/post_type_1', :locals => { :title => section.name, :articles => section.articles } %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </section>
<% end %>
<section id="popular-posts-section">
  <div id="popular-posts-container" class="container_16 white-background">
    <div id="popular-posts" style="float: left">
      <div class="grid_11 section-title">
        <h3 class="section-title"><span class="dark-title-background">Popular Posts</span></h3>
      </div>
      <div class="clear"></div>
      <div class="grid_11 real-popular-posts-container">
        <% @posts.each_with_index do |article,i| %>
          <% if i>0 and i%3 == 0 %>
            <div class="clear"></div>
          <% end %>
          <div class="popular-post">
            <a href="/articles/<%= article.slug %>">
              <div class="popular-post-image-thumbnail">
                <% if article.image? %><img src="<%= article.image.url(:big) %>" width="200"/><% end %>
              </div>
              <div class="popular-post-title"><%= article.title %></div>
              <div class="popular-post-description"><%= strip_tags(article.text)[0..100].strip.html_safe %>...</div>
            </a>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="custom-page-sections-container">
      <%= render :partial => 'partials/post_type_1', :locals => { :title => @page_section.name, :articles => @page_section.articles } %>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section id="discussion-board-section">
  <div id="discussion-board-container" class="container_16 white-background">
    <div class="grid_16">
      <h3 class="section-title">Discussion Board</h3>
    </div>
    <div class="clear"></div>
  </div>
</section>
