<% title "The Sports Post" %>
<%= render :partial => 'partials/slideshow', :locals => {
  :slideshow => @slideshow.articles, :headlines => @headlines.articles
} %>
<% if false %>
  <section id="custom-page-section-section">
    <div class="container_16 white-background">
      <div id="custom-page-section-1">
        <% @page_sections.each do |section| %>
          <%= render :partial => 'partials/post_type_1', :locals => { :title => section.name, :articles => section.articles } %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </section>
<% end %>
<section id="popular-posts-section">
  <div id="popular-posts-container" class="container_16 white-background">
    <div id="popular-posts" style="float: left">
      <div class="grid_11 section-title">
        <h3 class="section-title"><span class="dark-title-background">Popular Posts</span></h3>
      </div>
      <div class="clear"></div>
      <div class="popular-posts-subcontainer">
        <%= render :partial => 'partials/popular_posts_slice_3', :locals => {
          :article1 => @popular_posts[0], :article2 => @popular_posts[1], :article3 => @popular_posts[2]
        } %>
        <%= render :partial => 'partials/popular_posts_slice_3', :locals => {
          :article1 => @popular_posts[3], :article2 => @popular_posts[4], :article3 => @popular_posts[5]
        } %>
        <% @popular_posts[6..11].each do |post| %>
          <%= render :partial => 'partials/popular_posts_slice_4', :locals => { :article => post } %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
    <% if @page_section %>
      <div id="custom-page-sections-container">
        <%= render :partial => 'partials/post_type_1', :locals => {
          :title => @page_section.name,
          :articles => @page_section.articles
        } %>
        <div class="grid_5">
          <% if Rails.env.production? %>
            <div style="margin-top: 15px"><%= render :partial => 'partials/adsense_under_headlines' %></div>
          <% else %>
            <div style="border: 1px solid black; width: 248px; height: 248px; margin-top: 15px"></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div>
      <%= render :partial => 'partials/google_search' %>
    </div>
    <div class="clear"></div>
  </div>
</section>
<% if false %>
  <section id="discussion-board-section">
    <div id="discussion-board-container" class="container_16 white-background">
      <div class="grid_16">
        <h3 class="section-title">Discussion Board</h3>
      </div>
      <div class="clear"></div>
    </div>
  </section>
<% end %>
