<section id="slideshow-headlines-section" style="height: 250px">
  <div class="container_16">
    <div id="slideshow-container" class="grid_8">
      <div id="slideshow" style="height: 250px">
        <% if false %>
          <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
        <% end %>
      </div>
      <script>
        var slider = new Slider($("#slideshow"));
        slider.setPhotos(<%= @slideshow.html_safe %>);
        slider.setSize(440,200);
        slider.setTheme("theme-dark");
        slider.setTransitionFunction(SliderTransitionFunctions['squares']);
        slider.start();
      </script>
    </div>
    <div id="headlines-container" class="grid_4" style="height: 250px">
      <h3>Headlines</h3>
      <ul class="headlines">
        <% @headlines.each do |article| %>
          <li class="headlines"><%= link_to article.title, "/articles/#{article.slug}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section id="popular-posts-section">
  <div class="container_16" style="padding-bottom: 20px">
    <div id="popular-posts" class="grid_14">
      <h3>Popular Posts</h3>
      <% @posts.each do |article| %>
        <div class="popular-post">
          <a href="/articles/<%= article.slug %>">
            <div class="popular-post-image-thumbnail">
              <% if article.image? %>
                <div style="background: url('<%= article.image.url(:thumb) %>'); width:80px; height:40px;"></div>
              <% else %>
                <div style="width: 78px; height: 38px; border: 1px solid lightgray; background-color: #fefefe"></div>
              <% end %>
            </div>
            <div class="popular-post-title"><%= article.title %></div>
          </a>
          <div class="clear"></div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</section>
