<!DOCTYPE html>
<html>
<head>
  <title>The Sports Post</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" class="container_16">
    <header>
      <div id="logo" class="grid_4">
        <b>The Sports Post</b>
      </div>
      <div id="userbox" class="prefix_4 grid_8">
        <% if user_signed_in? %>
          <%= current_user.email %>
          &nbsp;-&nbsp;
          <% if current_user.role?(:writer) %>
            <%= link_to 'Admin', admin_articles_path %>
          <% elsif can? :manage, Article %>
            <%= link_to 'Admin', admin_path %>
          <% end %>
          &nbsp;-&nbsp;
          <%= link_to 'Sign Out', destroy_user_session_path, :method => 'DELETE' %>
        <% else %>
          <a href="/users/sign_in">Sign In</a>
        <% end %>
      </div>
      <div class="clear"></div>
      <div id="header-categories">
        <ul>
          <li>Football</li>
          <li>Baseball</li>
          <li>MMA</li>
          <li>Basketball</li>
        </ul>
      </div>
    </header>
    <section id="main">
      <%= yield %>
    </section>
    <footer>
      &copy; 2011 http://thesportspost.com
    </footer>
  </div>
</body>
</html>
