<!DOCTYPE html>
<html>
  <head>
    <title>The Sports Post</title>
    <%= stylesheet_link_tag "new" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="search_bar">
      <div class="container">
        <form id="search_box">
          <input type="text" placeholder="Search"/>
          <input type="submit" value="Go"/>
        </form>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="container">
      <div id="header">
        <img src="/assets/logo.png" id="logo"/>
        <div id="sign_in_container">
          <div id="sign_in_box">
            <form>
              <table>
                <thead>
                  <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text"/></td>
                    <td><input type="password"/></td>
                    <td><input type="submit"/></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="navbar">
        <ul>
          <li><%= link_to "Football", "#" %></li>
          <li><%= link_to "Basketball", "#" %></li>
          <li><%= link_to "Baseball", "#" %></li>
          <li><%= link_to "MMA", "#" %></li>
        </ul>
      </div>
      <div id="upper_ad_container" class="white_bg">
        <img src="http://dummyimage.com/728x90/000222/fff"/>
      </div>
      <div id="upper_content">
        <div id="slideshow_container" class="left_content white_bg">
          <img src="http://dummyimage.com/640x460/000222/fff" class="slideshow_main_image"/>
          <img src="http://dummyimage.com/160x140/200222/fff" class="slideshow_thumbnail"/>
          <img src="http://dummyimage.com/160x140/300222/fff" class="slideshow_thumbnail"/>
          <img src="http://dummyimage.com/160x140/400222/fff" class="slideshow_thumbnail"/>
          <img src="http://dummyimage.com/160x140/500222/fff" class="slideshow_thumbnail"/>
        </div>
        <div id="recent_articles_container" class="right_content white_bg">
          <div id="recent_articles">
            <h2>Recent Articles</h2>
            <ul>
              <li>
                <img src="http://dummyimage.com/100x60/000222/fff"/>
                <span>Article 1</span>
              </li>
              <li>
                <img src="http://dummyimage.com/100x60/000222/fff"/>
                <span>Article 2</span>
              </li>
              <li>
                <img src="http://dummyimage.com/100x60/000222/fff"/>
                <span>Article 3</span>
              </li>
              <li>
                <img src="http://dummyimage.com/100x60/000222/fff"/>
                <span>Article 4</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="middle_content">
        <div id="headlines_container" class="left_content">
          <div id="top_post" class="white_bg" style="float:left">
            <h2>Top Post</h2>
            <div style="width:300px;height:100px;border:1px solid #000"></div>
            <h3>Fantasy Alert: Benching Aaron Rodgers</h3>
            <p>If you have Aaron Rodgers as your Fantasy QB, as I have, you've been elated up to this point. He has been the most consistent fantasy contributor in a season that may be the greatest ever put together by a QB. You should have also been rooting for the ... </p>
          </div>
          <div id="headlines" class="white_bg" style="float:left">
            <h2>Headlines</h2>
            <ul>
              <li>Headlines 1</li>
              <li>Headlines 2</li>
              <li>Headlines 3</li>
              <li>Headlines 4</li>
            </ul>
          </div>
        </div>
        <div id="middle_ad_container" class="right_content">
          <img src="http://dummyimage.com/300x250/000222/fff"/>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="lower_content">
        <div id="popular_posts_container" class="left_content white_bg">
          <h2>Popular Posts</h2>
          <ul>
            <li>
              <img src="http://dummyimage.com/120x80/000222/fff"/>
              <div>
                <h3>Popular Post Title 1</h3>
                <p>This is a popular post text. Lorem ipsum and it's sweet and all that stuff.</p>
              </div>
            </li>
            <li>
              <img src="http://dummyimage.com/120x80/000222/fff"/>
              <div>
                <h3>Popular Post Title 2</h3>
                <p>This is a popular post text. Lorem ipsum and it's sweet and all that stuff.</p>
              </div>
            </li>
            <li>
              <img src="http://dummyimage.com/120x80/000222/fff"/>
              <div>
                <h3>Popular Post Title 3</h3>
                <p>This is a popular post text. Lorem ipsum and it's sweet and all that stuff.</p>
              </div>
            </li>
            <li>
              <img src="http://dummyimage.com/120x80/000222/fff"/>
              <div>
                <h3>Popular Post Title 4</h3>
                <p>This is a popular post text. Lorem ipsum and it's sweet and all that stuff.</p>
              </div>
            </li>
            <li>
              <img src="http://dummyimage.com/120x80/000222/fff"/>
              <div>
                <h3>Popular Post Title 5</h3>
                <p>This is a popular post text. Lorem ipsum and it's sweet and all that stuff.</p>
              </div>
            </li>
            <li>
              <img src="http://dummyimage.com/120x80/000222/fff"/>
              <div>
                <h3>Popular Post Title 6</h3>
                <p>This is a popular post text. Lorem ipsum and it's sweet and all that stuff.</p>
              </div>
            </li>
          </ul>
        </div>
        <div id="observation_deck_container" class="right_content white_bg">
          <h2>Observation Deck</h2>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </body>
</html>
