<!DOCTYPE html>
<html>
  <head>
    <title>The Sports Post</title>
    <link href='http://fonts.googleapis.com/css?family=Share:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "new" %>
        <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="search_bar">
      <div class="container">
        <div id="search_box_container">
          <form id="search_box" action="/search">
            <input type="text" placeholder="Search" name="q"/>
            <input type="submit" value="Go"/>
          </form>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="container">
      <div id="header">
        <img src="/assets/logo.png" id="logo" style="display:none"/>
        <h4>the sports post</h4>
        <div id="sign_in_container">
          <div id="sign_in_box">
            <% if user_signed_in? %>
              <span style="color:white">Logged in as: <%= current_user.email %></span>
            <% else %>
              <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
                <table>
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Password</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= f.email_field :email %></td>
                      <td><%= f.password_field :password %></td>
                      <td><%= f.submit "Sign In" %></td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="navbar">
        <ul>
          <% @navbar_categories.each_with_index do |category,i| %>
          <span id="category-with-sub-<%= i %>">
          <li id="category-<%= i %>"><%= link_to category.full_name, "categories/#{category.name}" %></li>
          <% if category.subcategories.length > 0 %>
           <ul id="category-<%= i%>-subcategories" class="subcategories-list">
                  <% category.subcategories.each do |sc| %>
                    <li class="subcategory">
                      <%= link_to sc.name, "/categories/#{category.name}/subcategories/#{sc.slug}" %>
                    </li>
                  <% end %>
                </ul>
                <script>
                  (function() {
                    var $c = $("#category-<%= i %>");
                    var $cws = $("#category-with-sub-<%= i %>");
                    var $sc = $("#category-<%= i %>-subcategories");
                    $sc.css({ left: $c[0].offsetLeft-25});
                    $cws.hover(
                      function() {
                        $sc.css({ display: 'block' });
                      },
                      function() {
                        $sc.css({ display: 'none' });
                      }
                    );
                  })();
                </script>
              <% end %>
              </span>
          <% end %>
        </ul>
      </div>
      <div id="upper_ad_container" class="white_bg" style="display: none">
          <img src="http://dummyimage.com/728x90/000222/fff"/>
      </div>
      <div id="upper_separator">
        <div class="downward_wedge"></div>
      </div>
      <div id="upper_content">
          <div id="slideshow_container" class="left_content white_bg">
            <div id="slideshow">
              <% if false %>
                <div><img src="<%= Article.first.image.url(:thumb) %>"/></div>
              <% end %>
              <div id="slides">
                <div class="slides_container">
                  <% @slideshow.articles.each do |slide| %>
                    <div class="slide">
                      <a href="<%= "/articles/#{slide.slug}" %>">
                        <img src="<%= slide.image.url(:big) %>" width="500"/>
                        <div class="caption">
                          <div class="slideshow-title"><%= slide.title %></div>
                          <div class="slideshow-subtitle"><%= slide.subtitle %></div>
                        </div>
                      </a>
                    </div>
                  <% end %>
                </div>
                <ul class="pagination">
                  <% @slideshow.articles.each_with_index do |slide,i| %>
                    <li <% if i <= 5 %>class="padded-mini-image"<% end %>>
                      <a href="#<%= i %>">
                        <div class="current-slide-indicator"></div>
                        <img src="<%= slide.image.url(:thumb) %>" width="100"/>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
        <script>
        (function() {
          $("#slideshow").slides({
            preload: true,
            preloadImage: "/assets/loading.gif",
            play: 5000,
            pause: 2500,
            hoverPause: true,
            generatePagination: false,
            animationStart: function(current) {
              $(".caption").animate({
                bottom: -60
              },100);
            },
            animationComplete: function(current) {
              $(".caption").animate({
                bottom: 0
              },200);
            },
            slidesLoaded: function() {
              $(".caption").animate({
                bottom: 0
              },200);
            }
          });
        })();
        </script>

        </div>

        <div id="recent_articles_container" class="right_content">
          <h2>Recent Articles</h2>
          <div id="recent_articles" class="white_bg">
            <ul>
              <% @recent_articles.articles[0..5].each do |article| %>
                <li>
                  <img src="<%= article.image.url(:thumb) %>" width="100" height="60"/>
                  <span><%= link_to article.title, "/articles/#{article.slug}" %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="middle_content">
        <div id="headlines_container" class="left_content">
          <div id="top_post">
            <h2>Top Post</h2>
            <div id="top_post_content" class="white_bg">
              <div class="img_container">
                <% if @top_post.image? and @top_post.image.url(:big) %>
                  <img src="<%= @top_post.image.url(:big) %>"/>
                <% else %>
                  <img src="http://dummyimage.com/384x120/fff"/>
                <% end %>
              </div>
              <h3><%= link_to @top_post.title, "/articles/#{@top_post.slug}" %></h3>
              <p><%= (truncate strip_tags(@top_post.text), :length => 300).html_safe %></p>
            </div>
          </div>
          <div id="headlines">
            <h2 id="headline_header">Headlines</h2>
            <div id="headlines_content" class="white_bg">
              <ul>
                <% @headlines.articles[0..7].each do |headline| %>
                  <li><%= link_to (truncate headline.title, :length => 30), "/articles/#{headline.slug}" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div id="middle_ad_container" class="right_content">
          <img src="http://dummyimage.com/300x250/000222/fff"/>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="lower_content">
        <div id="popular_posts_container" class="left_content">
          <h2>Popular Posts</h2>
          <div class="white_bg">
            <ul>
              <% @popular_posts[0..5].each do |post| %>
                <li>
                  <div class="img_container">
                    <% if post.image? %>
                      <img src="<%= post.image.url(:thumb) %>"/>
                    <% else %>
                      <img src="http://dummyimage.com/120x100/000222/fff"/>
                    <% end %>
                  </div>
                  <div class="blurb">
                    <h3>
                      <%= link_to (truncate post.title, :length => 30), "/articles/#{post.slug}" %>
                    </h3>
                    <p><%= article_text_sample(post, 80) %></p>
                  </div>
                </li>
              <% end %>
            </ul>
            <div style="clear:both"></div>
          </div>
        </div>
        <div id="observation_deck_container" class="right_content">
          <h2>Observation Deck</h2>
          <div class="white_bg">
            <ul>
              <% @popular_posts[1..3].each do |post| %>
                <li>
                  <div class="img_container">
                    <% if post.image? %>
                      <img src="http://dummyimage.com/120x100/000222/000"/>
                      <img src="<%= post.image.url(:thumb) %>"/>
                    <% else %>
                      <img src="http://dummyimage.com/120x100/000222/000"/>
                    <% end %>
                  </div>
                  <div class="blurb">
                    <h3>
                      <%= link_to (truncate post.title, :length => 30), "/articles/#{post.slug}" %>
                    </h3>
                    <p><%= article_text_sample(post, 100) %></p>
                  </div>
                </li>
              <% end %>
            </ul>
            <div style="clear:both"></div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
     <div id="lower_content">
        <div id="popular_posts_container" class="left_content">
        <h2>More</h2>
          <div class="white_bg">
            <div class="popular-posts-subcontainer">
              <% @popular_posts[6..8].each do |post| %>
                <%= render :partial => 'partials/popular_posts_slice_4', :locals => { :article => post } %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="lower-right-ad" class="right_content">
          <img src="http://dummyimage.com/300x400/000222/fff"/>
        </div>
            <div style="clear:both"></div>

      <div id="lower_separator">
        <div class="upward_wedge"></div>
      </div>
  </body>
</html>
