<!DOCTYPE html>
<html>
  <head>
    <title>The Sports Post</title>
    <link href='http://fonts.googleapis.com/css?family=Share:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "new" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="search_bar">
      <div class="container">
        <div id="search_box_container">
          <form id="search_box" action="/search">
            <input type="text" placeholder="Search" name="q"/>
            <input type="submit" value="Go"/>
          </form>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="container">
      <div id="header">
        <img src="/assets/logo.png" id="logo"/>
        <div id="sign_in_container">
          <div id="sign_in_box">
            <% if user_signed_in? %>
              <span style="color:white">Logged in as: <%= current_user.email %></span>
            <% else %>
              <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
                <table>
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Password</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= f.email_field :email %></td>
                      <td><%= f.password_field :password %></td>
                      <td><%= f.submit "Sign In" %></td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="navbar">
        <ul>
          <li><%= link_to "Football", "/categories/football" %></li>
          <li><%= link_to "Basketball", "/categories/basketball" %></li>
          <li><%= link_to "Baseball", "/categories/baseball" %></li>
          <li><%= link_to "MMA", "/categories/mma" %></li>
        </ul>
      </div>
      <div id="upper_ad_container" class="white_bg" style="display:none">
        <img src="http://dummyimage.com/728x90/000222/fff"/>
      </div>
      <div id="upper_separator">
        <div class="downward_wedge"></div>
      </div>
      <div id="upper_content">
        <div id="slideshow_container" class="left_content white_bg">
          <a href="/articles/<%= @slideshow.articles[0].slug %>"><img src="<%= @slideshow.articles[0].image.url(:big) %>" width="636" height="360" class="slideshow_main_image"/></a>
          <% @slideshow.articles[1..4].each do |slide| %>
            <a href="/articles/<%= slide.slug %>"><img src="<%= slide.image.url(:thumb) %>" width="159" height="130" class="slideshow_thumbnail"/></a>
          <% end %>
        </div>
        <div id="recent_articles_container" class="right_content">
          <h2>Recent Articles</h2>
          <div id="recent_articles" class="white_bg">
            <ul>
              <% @recent_articles.articles[0..5].each do |article| %>
                <li>
                  <img src="<%= article.image.url(:thumb) %>" width="100" height="60"/>
                  <span><%= link_to article.title, "/articles/#{article.slug}" %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="middle_content">
        <div id="headlines_container" class="left_content">
          <div id="top_post">
            <h2>Top Post</h2>
            <div id="top_post_content" class="white_bg">
              <% if @top_post.image? and @top_post.image.url(:thumb) %>
                <img src="<%= @top_post.image.url(:thumb) %>" width="384" height="120"/>
              <% else %>
                <img src="http://dummyimage.com/320x120/000222/fff"/>
              <% end %>
              <h3><%= link_to @top_post.title, "/articles/#{@top_post.slug}" %></h3>
              <p><%= (truncate strip_tags(@top_post.text), :length => 300).html_safe %></p>
            </div>
          </div>
          <div id="headlines">
            <h2>Headlines</h2>
            <div id="headlines_content" class="white_bg">
              <ul>
                <% @headlines.articles[0..3].each do |headline| %>
                  <li><%= link_to headline.title, "/articles/#{headline.slug}" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div id="middle_ad_container" class="right_content">
          <img src="http://dummyimage.com/300x250/000222/fff"/>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="lower_content">
        <div id="popular_posts_container" class="left_content">
          <h2>Popular Posts</h2>
          <div class="white_bg">
            <ul>
              <% @popular_posts.each do |post| %>
                <li>
                  <% if post.image? %>
                    <img src="<%= post.image.url(:thumb) %>" width="120" height="90"/>
                  <% else %>
                    <img src="http://dummyimage.com/120x90/000222/fff"/>
                  <% end %>
                  <div>
                    <h3>
                      <a href="/articles/<%= post.slug %>"><%= truncate post.title, :length => 30 %></a>
                    </h3>
                    <p><%= (truncate strip_tags(post.text), :length => 80).html_safe %></p>
                  </div>
                </li>
              <% end %>
            </ul>
            <div style="clear:both"></div>
          </div>
        </div>
        <div id="observation_deck_container" class="right_content">
          <h2>Observation Deck</h2>
          <div class="white_bg">
            <ul>
              <% @observation_deck.articles[0..2].each do |post| %>
                <li>
                  <% if post.image? %>
                    <img src="<%= post.image.url(:thumb) %>" width="120" height="90"/>
                  <% else %>
                    <img src="http://dummyimage.com/120x90/000222/fff"/>
                  <% end %>
                  <div>
                    <h3>
                      <a href="/articles/<%= post.slug %>"><%= truncate post.title, :length => 30 %></a>
                    </h3>
                    <p><%= (truncate strip_tags(post.text), :length => 80).html_safe %></p>
                  </div>
                </li>
              <% end %>
            </ul>
            <div style="clear:both"></div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div id="lower_separator">
        <div class="upward_wedge"></div>
      </div>
    </div>
  </body>
</html>
